.container {
    display: flex;
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 340px;
    margin-top: 80px;
}

.title {
    color: #FFF;
    font-size: 45px;
    margin-bottom: 10px;
}

.text{
    color: #FFF;
    font-size: 22px;
    max-width: 260px;
    line-height: 1.4;
}

.containerSide {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30%;
    background-color: #012643;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logoGSW {
    width: 350px;
    height: 106px;
    position: absolute;
    top: 140px; 
    left: 50%;
    transform: translateX(-50%);
}

.containerRight {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tituloLogin {
    color: #012643;
    font-size: 50px;
    margin-bottom: 40px;
}

.iconInput {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.inputWrapper {
    position: relative;
    width: 50%;
    margin-bottom: 30px;
}

.inputStyle {
    width: 100%;
    border: 1px solid #012643;
    border-radius: 10px;
    padding: 12px 18px;
    padding-left: 40px;
    outline: none;
}

.inputStyle::placeholder {
    color: #012643;
}

.ButtonStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #012643;
    border: none;
    color: #FFF;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 25px;
    border-radius: 10px;
}